@function calcFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: calc(($f-max - $f-min) / ($v-max - $v-min));
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

.ticket-item {
  background-color: #fff;
  height: 190px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;

  display: grid;
  grid-template-areas:
    'price price logo'
    'route length stops'
    'return-route return-length return-stops';
  grid-template-rows: 3fr 4fr 4fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  @media (max-width: 768px) {
    grid-gap: 5px;
  }

  &--price {
    grid-area: price;
    align-self: center;
    font-size: calcFontSize(16, 24, 300, 1280);
    font-weight: 600;
    color: rgba(33, 150, 243, 1);
  }

  &--logo {
    grid-area: logo;
    justify-self: end;
    align-self: center;
    position: relative;

    & img {
      @media (max-width: 768px) {
        position: absolute;
        top: -15px;
        left: -100px;
        width: 100px;
      }
    }
  }

  &--route {
    grid-area: route;

    &-title {
      color: rgba(160, 176, 185, 1);
      font-size: calcFontSize(10, 12, 300, 1280);
      font-weight: 600;
      line-height: 18px;
    }
    &-description {
      font-size: calcFontSize(12, 14, 300, 1280);
      font-weight: 600;
      line-height: 21px;
    }
  }

  &--length {
    grid-area: length;
  }

  &--stops {
    grid-area: stops;
  }

  &--return-route {
    grid-area: return-route;
  }

  &--return-length {
    grid-area: return-length;
  }

  &--return-stops {
    grid-area: return-stops;
  }
}
