.logo {
  margin: 50px auto 30px auto;
  grid-area: logo;
  @media (max-width: 768px) {
    height: 60px;
    margin: 20px auto 10px auto;
  }
  @media (max-width: 576px) {
    height: 50px;
    margin: 10px auto 0 auto;
  }
}
