@function calcFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: calc(($f-max - $f-min) / ($v-max - $v-min));
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

.filter {
  grid-area: filter;

  &-wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 768px) {
      height: 180px;
    }
  }

  &-title {
    margin: 0;
    padding: 15px 20px 10px 20px;
    font-size: calcFontSize(12, 16, 300, 1280);
    font-weight: 600;
    color: rgba(74, 74, 74, 1);
  }

  &-item {
    padding: 10px 20px;
    display: block;
    cursor: pointer;
    user-select: none;
    position: relative;

    font-size: calcFontSize(12, 16, 300, 1280);

    flex-grow: 1;

    &:last-child {
      margin-bottom: 8px;
    }

    @media (max-width: 768px) {
      padding: 0 20px;
    }

    &:hover,
    &:active {
      background-color: rgba(241, 252, 255, 1);

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }

    & input[type='checkbox'] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }

    & span {
      display: inline-block;
      position: relative;
      padding: 0 0 0 35px;
      line-height: 22px;
      top: 4px;
    }

    & span::before {
      content: '';
      display: inline-block;
      width: 22px;
      height: 22px;
      position: absolute;
      left: 0;
      top: 0;
      transition: background 0.3s ease;
      background: url('../sources/img/Checkbox.svg') 0 0 no-repeat;
    }

    & input[type='checkbox']:checked + span::before {
      background: url('../sources/img/Checkbox-checked.svg') 0 0 no-repeat;
    }
  }
}
